name: CI
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '**.java'
      - '**.kts'
      - 'brut.apktool/apktool-lib/src/main/resources/**'
      - 'brut.apktool/apktool-lib/src/test/**'
      - '.github/workflows/**'
      - 'gradle/libs.versions.toml'
      - 'gradle/wrapper/**'
      - 'gradlew'
      - 'gradlew.bat'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  BINARY_PATH: brut.apktool/apktool-lib/src/main/resources/prebuilt

jobs:

    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, macOS-latest, windows-latest ]
        java: [ 8, 11, 17, 21 ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - uses: gradle/actions/setup-gradle@v5.0.0


      - name: Upload
        uses: actions/upload-artifact@v5
        with:
          name: apktool.apk
          path: brut.apktool/apktool-cli/build/libs/apktool-v*
